@import "tailwindcss";

/* CSS Variables */
:root {
  /* Brand Colors */
  --primary: #efb036;
  --primary-light: #f0ba33;
  --primary-dark: #dea039;
  --secondary: #3b6790;
  --secondary-dark: #23486a;
  --accent: #4c7b8b;
  --cream: #f7f4ef;
  --brown: #573625;

  /* Typography */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

/* Custom Font Classes (không trùng với Tailwind) */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}
